@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
    --font-family-primary: "Agbalumo", serif;
    --font-family-secundary: "Montserrat", sans-serif;
}

/* CONFIGURAÇÕES INICIAIS */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overflow-x: hidden;
}

/* PÁGINA INICIAL */

#changingPageTransition {
    background-color: white;
    border-radius: 50%;
    overflow-x: hidden;
    top: -1000px;
    left: -1000px;
    position: absolute;
    z-index: 3;
}

@keyframes changingPage {
    50% {
        height: 0;
        width: 0;
    }
    100% {
        height: 3000px;
        width: 3000px;
    }
}

.section1 {
    background: linear-gradient(180deg, #0020f0 0%, rgb(0, 22, 163) 100%);
    display: flex;
    gap: 170px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#circlesProtection {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.circle {
    animation: circleAppearing 1s ease-out;
    align-items: center;
    border-radius: 50%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.492);
    cursor: pointer;
    display: flex;
    filter: saturate(0);
    justify-content: center;
    height: 120px;
    transition: 300ms ease-out;
    width: 120px;
}

@keyframes circleDisappearing {
    50% {
        opacity: 1;
        transform: scale(0.2);
    }
    100% {
        transform: translateX(-500px) scale(0.2);
        opacity: 0;
    }
}

@keyframes circleAppearing {
    from {
        margin-left: -100px;
        opacity: 0;
        filter: blur(0.5);
    }
}

.circle:hover {
    box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.345);
    filter: saturate(1);
}

#innerCircle1 {
    background: url();
}

#circle1:hover {
    margin-top: -10px;
    margin-bottom: 10px;
}

#circle2,
#circle3 {
    margin-top: -10px;
}

#circle2:hover,
#circle3:hover {
    margin-top: -20px;
    margin-bottom: 10px;
}

.innerCircle {
    background-color: rgb(195, 195, 195);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 120px;
    position: absolute;
    width: 120px;
    z-index: 1;
}

.label {
    align-items: center;
    background-color: rgb(188, 217, 255);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.492);
    color: #031483;
    display: flex;
    /* font-family: var(--font-family-primary), serif; */
    font-family: monospace;
    font-size: 1rem;
    font-weight: 900;
    justify-content: center;
    height: 40px;
    opacity: 0;
    position: absolute;
    padding: 1px 5px 1px 20px;
    transition: 300ms ease-out;
    z-index: 0;
}

.circle:hover .label {
    box-shadow: -5px 12px 15px rgba(0, 0, 0, 0.345);
    opacity: 1;
    margin-left: 230px;
    width: 120px;
}

.container3 {
    background: url(./set-of-programers.svg) local;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    height: 100vh;
    justify-content: center;
    transition: 300ms;
    width: 60%;
    z-index: 2;
}

#title {
    border-right: 4px solid;
    font-size: 56px;
    /* width: 27ch; */
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 1.6s steps(27), blinking 0.5s infinite step-end alternate;
}

/* #container3Title.minWidth {
    border-right: 4px solid;
    padding-right: 10px;
    width: min-content;
} */

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

#subtitle {
    color: rgb(220, 220, 220);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#paragraph {
    color: #d3d3d3;
    /* font-family: var(--font-family-secundary); */
    font-size: 1.3rem;
    font-weight: 700;
    /* text-align: center; */
}

@media (max-width: 1300px) {
    .section1 {
        /* gap: 80px;
        justify-content: space-around; */
    }
}

@media (max-width: 800px) {
    .section1 {
        align-items: center;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }

    .container2 {
        flex-direction: row;
        gap: 40px;
        height: 10vh;
        margin-top: 50px;
    }

    .container3 {
        height: auto;
        margin-top: 50px;
        width: 80vw;
    }

    .circle {
        height: 100px;
        width: 100px;
    }

    .innerCircle {
        height: 100px;
        width: 100px;
    }

    .label {
        margin-top: 50px;
        padding: 0px 3px 0px 10px;
        width: 120px;
    }

    .circle:hover .label {
        margin-left: 0;
        margin-top: 130px;
        z-index: 2;
    }
}

@media (max-width: 500px) {
    .container2 {
        gap: 0;
    }

    .label {
        font-size: 1rem;
        width: 100;
    }

    #title {
        font-size: 2rem;
    }

    #subtitle {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    #paragraph {
        font-size: 1rem;
        margin-top: 10px;
    }
}
