/* Importing Fonts */
/* FONTE: Almarai */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Almarai:wght@300;400;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

SECTION-01 {
}

header {
    align-items: center;
    background-color: #00000000;
    color: white;
    display: flex;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
}

header.scroll {
    animation: 400ms header-scroll forwards;
}

@keyframes header-scroll {
    0% {
        background-color: #00000000;
    }

    100% {
        background-color: #000;
    }
}

#header-left {
    cursor: pointer;
    height: 30.23px;
    user-select: none;
    width: 50px;
    margin-left: 30px;
}

#header-center {
    -webkit-animation: tracking-in-expand 1.2s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    color: white;
    font-family: "Almarai", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 8.37px;
}

#header-right {
    align-items: center;
    display: flex;
}

#header-right-instagram {
    cursor: pointer;
    margin: 0 20px 0 0;
    position: relative;
    padding: 20px 0;
    transition: 200ms;
}

.insta-out-square {
    align-items: center;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 21px;
    width: 21px;
}

.insta-circle {
    border: 2px solid white;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

#insta-popup {
    animation: showingPopup 200ms ease-in forwards;
    background-color: white;
    border: 1px solid #9d5928;
    border-radius: 5px;
    display: none;
    height: 200px;
    position: absolute;
    padding: 5px;
    top: 60px;
    right: 0px;
    width: 400px;
}

@keyframes showingPopup {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#insta-popup-header {
    align-items: center;
    color: black;
    display: flex;
    font-weight: 100;
    padding: 10px 10px;
}

#insta-popup #insta-popup-header-icon {
    border: 2px solid rgb(198, 3, 198);
    border-radius: 50%;
    margin: 0 10px 0 0;
    height: 30px;
}

#insta-popup-feed-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.insta-popup-feed-photo {
    cursor: pointer;
    height: 140px;
    transition: 200ms;
}

.insta-popup-feed-photo:hover {
    filter: brightness(0.5);
}

#header-right-hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    margin-right: 30px;
    user-select: none;
    transition: 200ms;
}

#header-right-hamburguer:hover {
    filter: brightness(0.9);
}

.header-right-bar {
    background-color: white;
    border-radius: 5px;
    height: 2px;
    width: 30px;
}

/* SECTION 01 */

.page-section {
}

#section-1 {
    background: url(imagens/section-1-1.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

SECTION-02 {
}

#section-2 {
    align-items: center;
    background-color: #824a22;
    display: flex;
    height: 1200px;
    justify-content: center;
    margin-top: -4px;
}

#container1 {
    display: grid;
    height: 1000px;
    gap: 10px;
    grid-template:
        "image1 image2" 500px
        "image1 image3" 500px
        / 45vw 45vw;
    width: 90vw;
}

#block1 {
    background: url(imagens/section-2-1.webp);
    background-size: cover;
    background-position: center;
    grid-area: image1;
    overflow: hidden;
    filter: saturate(0);
    transition: 400ms;
}

#block2 {
    background: url(imagens/section-2-2.webp);
    background-size: cover;
    background-position: center;
    grid-area: image2;
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
}

#block3 {
    background: url(imagens/section-2-3.webp);
    background-size: cover;
    background-position: center;
    grid-area: image3;
    height: 500px;
    overflow: hidden;
}

SECTION-03 {
}

#section-3 {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#section-3-container {
    color: #4c0000;
    display: flex;
    font-family: "Almarai", sans-serif;
    font-size: 0.95rem;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 1px;
    padding: 80px 0 160px 0;
    position: relative;
    width: 75vw;
}

#section-3-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px 0 0;
    width: 50%;
}

#separator1 {
    border-radius: 5px;
    height: 2px;
    width: 80px;
    background-color: #9d5928;
    margin: 20px 0 16px 0;
}

#section-3-container-left > #bruna-hosti {
    color: #9d5928;
    font-size: 1.5rem;
    font-weight: 500;
}

#s3-social-media-container {
    margin: 40px 0 0 0;
}

.s3-social-media-item {
    align-items: center;
    color: #9d5928;
    display: flex;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.6px;
    padding: 7px 0 0 0;
    position: relative;
    width: max-content;
}

.s3-social-media-item:hover {
    text-decoration: underline;
}

#s3-social-media-item-2 {
    font-weight: 800;
    letter-spacing: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
}

.s3-social-media-icon {
    padding: 0 14px 0 0;
    cursor: pointer;
}

.s3-social-media-text {
    cursor: pointer;
}

#section-3-container-right {
    align-items: center;
    display: flex;
}

.s3Image {
    height: 500px;
    margin: 0 10px;
}



@media (max-width: 900px) {
    #section-3-container-right {
        flex-direction: column;
    }

    #header-center {
        display: none;
    }

    .s3Image {
        height: min-content;
        width: 200px;
    }
}

@media (max-width: 600px) {
    #section-3-container {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    #section-3-container-left {
        margin:0 0 50px 5vw;
        width: 90vw;
    }

    #section-3-container-right {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    #section-3-container-right {
        flex-direction: column;
    }
}

SECTION-4 {
}

.carousel-section {
    align-items: center;
    background-color: #90c49eff;
    display: flex;
    height: 120vh;
    justify-content: center;
}

.carousel-section-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    position: relative;
    width: 80vw;
}

.carousel-section-title {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: "Almarai", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 6px;
    padding: 10px 20px;
    position: absolute;
    top: -80px;
}

.image {
    opacity: 0;
    max-height: 90vh;
    position: absolute;
    max-width: 600px;
}

.image.entrandoDireita {
    animation: entrandoDireita 500ms ease-out forwards;
    opacity: 1;
}

.image.saindoEsquerda {
    animation: saindoEsquerda 500ms ease-out forwards;
    opacity: 1;
}

.image.saindoDireita {
    animation: saindoDireita 500ms ease-in forwards ;
    opacity: 1;
}

.image.entrandoEsquerda {
    animation: entrandoEsquerda 500ms ease-in forwards;
    opacity: 1;
}

@keyframes entrandoDireita {
    0% {
        margin-left: 1500px;
    }100% {
        margin-left: 0px;
    }
}

@keyframes entrandoEsquerda {
    0% {
        margin-left: -1500px;
    } 100% {
        margin-left: 0px;
    }
}

@keyframes saindoDireita {
    0% {
        margin-left: 0px;
    }100% {
        opacity: 0;
        margin-left: 1500px;
    }
}

@keyframes saindoEsquerda {
    0% {
        margin-left: 0px;
    } 100% {
        opacity: 0;
        margin-left: -1500px;
    }
}

.botao {
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    padding: 30px 20px;
    position: absolute;
    transition: 200ms;
}

.botao:not(.hide):hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.botao.hide {
    cursor: default;
    opacity: 20%;
}

.botao.left {
    transform: rotate(180deg);
}

.botaoAnterior {
    left: 10px;
}

.botaoPosterior {
    right: 10px;
}

@media (max-width: 800px) {
    .image {
        max-width: 100vw;
    }
    .carousel-section-container {
        width: 100vw;
    }
}

FOOTER {}

#footer {
    background-color: #824a22;
    border-top: 4px solid #824a22;
    column-gap: 100px;
    grid-template-columns: max-content max-content max-content;
    display: grid;
    font-family: "Almarai", sans-serif;
    height: 300px;
    justify-content: center;
    padding-top: 60px;
    row-gap: 7px;
    text-align: center;
    width: 100%;
}

.footerBlock {
    align-items: start;
    justify-content: start;
    text-align: start;
}

.footerHeader {
    color: white;
    padding: 0 0 20px 0px;
}
.footerItem {
    align-items: center;
    color: #e6c9c9;
    display: flex;
    padding: 3px 0 3px 0;
    transition: 100ms;
    width: 100%;
}

.footerIcon {
    margin-right: 10px;
    height: 20px;
}

.footerItem:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width:800px){
    #footer {
        grid-template-columns: max-content max-content;
    }
}

@media (max-width:600px){
    #footer {
        grid-template-columns: max-content;
        padding-bottom: 100px;
    }
}

#menu {
    background-color: black;
    color: white;
    display: none;
    height: 100vh;
    margin-top: 55px;
    position: fixed;
    right: 0;
    top: 0;
}

#menu.open {
    animation: openMenu 300ms ease-in-out forwards;
    display: flex;
}

#menu.close {
    animation: closeMenu 300ms ease-in-out forwards;
    display: flex;
}

@keyframes openMenu {
    0% {
        display: block;
        width: 0;
    }
    100% {
        width: 300px;
    }
}

@keyframes closeMenu {
    0% {
        width: 300px;
    }
    100% {
        display: none;
        width: 0;
    }
}

.menuItem {
    border-bottom: 1px solid rgb(113, 112, 112);
    color: #fff;
    cursor: default;
    display: flex;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    gap: 25px;
    padding: 18px 0 18px 25px;
    width: 300px;
}

.menuItem:hover {
    background-color: rgb(47, 47, 47);
}

.menuItemIcon {
    width: 25px;
}

.menuItemText {
    width: min-content;
}

.menuItemTextUnderline {
    background-color: white;
    height: 1.5px;
    margin-top: 2px;
    width: 0px;
    transition: 300ms ease-out;
}

.menuItem:hover .menuItemTextUnderline {
    width: 100%;
}

#menuBottomSide {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 100px 0 0 60px;
    opacity: 0.1;
    position: absolute;
}
